In [16]:
import pandas as pd
import numpy as np

### setting currenct working directory

In [2]:
import os
os.chdir("D:/ML Hackathon/IPL/IPL")

In [3]:
ipl = pd.read_csv("iplfinal.csv", sep='|')

In [4]:
ipl.head()  ## first 6 rows

,match_description,match_date,match_venue,match_location,match_result,team_name,innings_order,batsman_name,dismissal_mode,runs,balls,fours,sixes
0,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Mumbai Indians Innings,innings_1,Rohit Sharma (c),c Rayudu b Watson,15,18,1,1
1,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Mumbai Indians Innings,innings_1,Evin Lewis,lbw b D Chahar,0,2,0,0
2,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Mumbai Indians Innings,innings_1,Ishan Kishan (wk),c Mark Wood b Tahir,40,29,4,1
3,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Mumbai Indians Innings,innings_1,Suryakumar Yadav,c Harbhajan b Watson,43,29,6,1
4,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Mumbai Indians Innings,innings_1,Hardik Pandya,not out,22,20,2,0

In [5]:
#1 what is the maximum score of IPL 2018 and who scored it?
print(ipl[['batsman_name', 'runs']][ipl.runs == ipl.runs.max()])

          batsman_name  runs
680  Rishabh Pant (wk)   128

In [6]:
#2 how many centuries were hit in IPL 2018?
ipl[ipl['runs'] >=100].count()['runs']

5

In [7]:
# creating and adding strike rate column to the data frame
ipl['strike rate'] = (ipl['runs']/ ipl['balls'])*100

In [8]:
# checking whether the strike rate column is added to data frame or not
ipl.head()

,match_description,match_date,match_venue,match_location,match_result,team_name,innings_order,batsman_name,dismissal_mode,runs,balls,fours,sixes,strike rate
0,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Mumbai Indians Innings,innings_1,Rohit Sharma (c),c Rayudu b Watson,15,18,1,1,83.333333
1,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Mumbai Indians Innings,innings_1,Evin Lewis,lbw b D Chahar,0,2,0,0,0.000000
2,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Mumbai Indians Innings,innings_1,Ishan Kishan (wk),c Mark Wood b Tahir,40,29,4,1,137.931034
3,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Mumbai Indians Innings,innings_1,Suryakumar Yadav,c Harbhajan b Watson,43,29,6,1,148.275862
4,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Mumbai Indians Innings,innings_1,Hardik Pandya,not out,22,20,2,0,110.000000

In [9]:
#3 list down the century makers, their scores and their strike rates
ipl[['batsman_name', 'runs', 'strike rate']][ipl['runs']>= 100]

          batsman_name  runs  strike rate
274        Chris Gayle   104   165.079365
285       Shane Watson   106   185.964912
680  Rishabh Pant (wk)   128   203.174603
739      Ambati Rayudu   100   161.290323
959       Shane Watson   117   205.263158

In [10]:
#6 what are the total number of duck dismissals?
ipl[ipl['runs'] ==0].count()['runs']

103

In [17]:
#list down the top 5 most consistent batsmen
#find out the cases where a batsman is not out or did not bat
ipl['out_status'] = ipl.dismissal_mode.map(lambda x:0 if (x=='not out'or x=='did not bat') else 1)
#ipl.head(20)
#ipl[ipl.batsman_name.str.contains('Rohit')]
#create group on batsman name
grp_player = ipl.groupby('batsman_name')
#aggregate the runs and out_status columns
ipl1 = grp_player['runs','out_status'].agg(np.sum)
ipl1
#calculate average
ipl1['average'] = ipl1.runs/ipl1.out_status
#print top 5 batsmen (exclude the cases where total count of out_cases is 0)
ipl1[ipl1.out_status>=5].sort_values(by='average',ascending=0).head(5)

                         runs  out_status    average
batsman_name
MS Dhoni (c & wk)         455           6  75.833333
Jos Buttler (wk)          548          10  54.800000
Lokesh Rahul (wk)         710          13  54.615385
Dinesh Karthik (c & wk)   533          10  53.300000
Kane Williamson (c)       735          14  52.500000

In [11]:
# Creating Boundary Percentage field
ipl['boundary %'] = (((4*ipl['fours'])+(6*ipl['sixes']))/ipl['runs'])*100

In [12]:
# Checking whether Boundary % field is created or not
ipl.head()

,match_description,match_date,match_venue,match_location,match_result,team_name,innings_order,batsman_name,dismissal_mode,runs,balls,fours,sixes,strike rate,boundary %
0,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Mumbai Indians Innings,innings_1,Rohit Sharma (c),c Rayudu b Watson,15,18,1,1,83.333333,66.666667
1,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Mumbai Indians Innings,innings_1,Evin Lewis,lbw b D Chahar,0,2,0,0,0.000000,NaN
2,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Mumbai Indians Innings,innings_1,Ishan Kishan (wk),c Mark Wood b Tahir,40,29,4,1,137.931034,55.000000
3,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Mumbai Indians Innings,innings_1,Suryakumar Yadav,c Harbhajan b Watson,43,29,6,1,148.275862,69.767442
4,"Mumbai Indians vs Chennai Super Kings, 1st Mat...",2018-04-07,"Wankhede Stadium,",Mumbai,Chennai Super Kings won by 1 wkt,Mumbai Indians Innings,innings_1,Hardik Pandya,not out,22,20,2,0,110.000000,36.363636

In [13]:
# lit top 5 players by contribution of boundaries to total scores
ipl.nlargest(5,{'boundary %'},keep = 'first')

,match_description,match_date,match_venue,match_location,match_result,team_name,innings_order,batsman_name,dismissal_mode,runs,balls,fours,sixes,strike rate,boundary %
32,Kolkata Knight Riders vs Royal Challengers Ban...,2018-04-08,"Eden Gardens,",Kolkata,Kolkata Knight Riders won by 4 wkts,Royal Challengers Bangalore Innings,innings_1,Quinton de Kock (wk),c Vinay Kumar b Chawla,4,4,1,0,100.0,100.0
62,Kolkata Knight Riders vs Royal Challengers Ban...,2018-04-08,"Eden Gardens,",Kolkata,Kolkata Knight Riders won by 4 wkts,Royal Challengers Bangalore Innings,innings_1,Quinton de Kock (wk),c Vinay Kumar b Chawla,4,4,1,0,100.0,100.0
78,"Sunrisers Hyderabad vs Rajasthan Royals, 4th M...",2018-04-09,"Rajiv Gandhi International Stadium,",Hyderabad,Sunrisers Hyderabad won by 9 wkts,Rajasthan Royals Innings,innings_1,D Arcy Short,run out (Williamson),4,4,1,0,100.0,100.0
92,"Chennai Super Kings vs Kolkata Knight Riders, ...",2018-04-10,"MA Chidambaram Stadium,",Chennai,Chennai Super Kings won by 5 wkts,Kolkata Knight Riders Innings,innings_1,Sunil Narine,c Raina b Harbhajan,12,4,0,2,300.0,100.0
143,Royal Challengers Bangalore vs Kings XI Punjab...,2018-04-13,"M.Chinnaswamy Stadium,",Bengaluru,Royal Challengers Bangalore won by 4 wkts,Kings XI Punjab Innings,innings_1,Yuvraj Singh,b Umesh,4,4,1,0,100.0,100.0

In [21]:
# which location is most batsman friendly
# the location which has the most runs made per match + where %of runs from boundaries is high
grp_location = ipl.groupby('match_location')
#grp_location.groups
ipl['boundary_runs'] = ipl['fours']*4 + ipl['sixes']*6
ipl1 = grp_location['runs','boundary_runs'].agg(np.sum)
ipl2 = grp_location.match_description.nunique()
ipl1['match_count'] = ipl2
ipl1['runs_per_match'] = ipl1.runs/ipl1.match_count
ipl1['boundary_contrib'] = (ipl1.boundary_runs/ipl1.runs)*100
ipl1

,runs,boundary_runs,match_count,runs_per_match,boundary_contrib
match_location,,,,,
Bengaluru,2463,1526,7,351.857143,61.956963
Chennai,395,266,1,395.000000,67.341772
Delhi,2285,1394,7,326.428571,61.006565
Hyderabad,2034,1096,7,290.571429,53.883972
Indore,1248,826,4,312.000000,66.185897
Jaipur,2054,988,7,293.428571,48.101266
Kolkata,3113,2068,9,345.888889,66.431095
Mohali,1378,796,3,459.333333,57.764877
Mumbai,2860,1722,9,317.777778,60.209790
Pune,1927,1152,6,321.166667,59.782045